body {
    background-image: url('images/greenplasmabg.jpg')
}

p {
    font-family:Arial;
    font-size: 15px;
}

iframe {
    height:100px;
    width:90%; 
    border:1px solid #ffff;
    align-items:right;
}
ul + ol{
    list-style:none;
}
